<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>User Details Page</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showProperties(user)">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card *ngIf="user">
    <ion-card-content>
      <h2>{{user.name}}</h2>
    </ion-card-content>
  </ion-card>
  <form *ngIf="user">
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm-2>
          <ion-label>SamAccountName</ion-label>
        </ion-col>
        <ion-col col-12 col-sm-10>
          <ion-input type="text" value="{{this.user.properties.sAMAccountName}}" disabled></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 col-sm-2>
          <ion-label>Description</ion-label>
        </ion-col>
        <ion-col col-12 col-sm-10>
          <ion-input type="text" value="{{this.user.properties.description}}" disabled></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons right>
      <button ion-button color="danger" (click)="deleteUser(user)">
        <ion-icon name="trash"></ion-icon>
        <span>Delete</span>
      </button>
    </ion-buttons>
    <ion-buttons left>
      <button ion-button color="primary" (click)="resetPassword(user)">
        <ion-icon name="key"></ion-icon>
        <span>Reset Password</span>
      </button>
      <button ion-button color="primary" (click)="editUser(user)">
        <ion-icon name="create"></ion-icon>
        <span>Edit</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>