<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>User Details Page</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showProperties(user)">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card *ngIf="user">
    <ion-card-content>
      <h2>{{user.name}}</h2>
    </ion-card-content>
  </ion-card>
  <ion-list text-wrap *ngIf="user">
    <ion-item>
      <h2>SamAccountName</h2>
      <p>{{user.properties.sAMAccountName}}</p>
    </ion-item>
    <ion-item>
      <h2>Description</h2>
      <p>{{user.properties.description}}</p>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons right>
      <button ion-button color="danger" (click)="deleteUser(user)">
        <ion-icon name="trash"></ion-icon>
        <span>Delete</span>
      </button>
    </ion-buttons>
    <ion-buttons left>
      <button ion-button color="primary" (click)="resetPassword(user)">
        <ion-icon name="key"></ion-icon>
        <span>Reset Password</span>
      </button>
      <button ion-button color="primary" (click)="editUser(user)">
        <ion-icon name="create"></ion-icon>
        <span>Edit</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>