<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>User Properties Page</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card *ngIf="user">
    <ion-card-content>
      <h2>{{user.name}}</h2>
    </ion-card-content>
  </ion-card>
  <ion-list *ngIf="user">
    <button ion-item (click)="toggleWrap(objectClass)" #objectClass>
      <ion-icon [name]="objectClass._elementRef.nativeElement.querySelector('h3') !== null && objectClass._elementRef.nativeElement.querySelector('h3').style.whiteSpace === 'normal' ? 'arrow-dropdown' : 'arrow-dropright'" item-left></ion-icon>
      <h2>objectClass</h2>
      <h3>{{user.properties.objectClass}}</h3>
    </button>
    <button ion-item (click)="toggleWrap(cn)" #cn>
      <ion-icon [name]="cn._elementRef.nativeElement.querySelector('h3') !== null && cn._elementRef.nativeElement.querySelector('h3').style.whiteSpace === 'normal' ? 'arrow-dropdown' : 'arrow-dropright'" item-left></ion-icon>
      <h2>cn</h2>
      <h3>{{user.properties.cn}}</h3>
    </button>
    <button ion-item (click)="toggleWrap(description)" #description>
      <ion-icon [name]="description._elementRef.nativeElement.querySelector('h3') !== null && description._elementRef.nativeElement.querySelector('h3').style.whiteSpace === 'normal' ? 'arrow-dropdown' : 'arrow-dropright'" item-left></ion-icon>
      <h2>description</h2>
      <h3>{{user.properties.description}}</h3>
    </button>
    <button ion-item (click)="toggleWrap(distinguishedName)" #distinguishedName>
      <ion-icon [name]="distinguishedName._elementRef.nativeElement.querySelector('h3') !== null && distinguishedName._elementRef.nativeElement.querySelector('h3').style.whiteSpace === 'normal' ? 'arrow-dropdown' : 'arrow-dropright'" item-left></ion-icon>
      <h2>distinguishedName</h2>
      <h3>{{user.properties.distinguishedName}}</h3>
    </button>
    <button ion-item (click)="toggleWrap(whenCreated)" #whenCreated>
      <ion-icon [name]="whenCreated._elementRef.nativeElement.querySelector('h3') !== null && whenCreated._elementRef.nativeElement.querySelector('h3').style.whiteSpace === 'normal' ? 'arrow-dropdown' : 'arrow-dropright'" item-left></ion-icon>
      <h2>whenCreated</h2>
      <h3>{{user.properties.whenCreated}}</h3>
    </button>
    <button ion-item (click)="toggleWrap(whenChanged)" #whenChanged>
      <ion-icon [name]="whenChanged._elementRef.nativeElement.querySelector('h3') !== null && whenChanged._elementRef.nativeElement.querySelector('h3').style.whiteSpace === 'normal' ? 'arrow-dropdown' : 'arrow-dropright'" item-left></ion-icon>
      <h2>whenChanged</h2>
      <h3>{{user.properties.whenChanged}}</h3>
    </button>
    <button ion-item (click)="toggleWrap(memberOf)" #memberOf>
      <ion-icon [name]="memberOf._elementRef.nativeElement.querySelector('h3') !== null && memberOf._elementRef.nativeElement.querySelector('h3').style.whiteSpace === 'normal' ? 'arrow-dropdown' : 'arrow-dropright'" item-left></ion-icon>
      <h2>memberOf</h2>
      <h3>{{user.properties.memberOf}}</h3>
    </button>
    <button ion-item (click)="toggleWrap(name)" #name>
      <ion-icon [name]="name._elementRef.nativeElement.querySelector('h3') !== null && name._elementRef.nativeElement.querySelector('h3').style.whiteSpace === 'normal' ? 'arrow-dropdown' : 'arrow-dropright'" item-left></ion-icon>
      <h2>name</h2>
      <h3>{{user.properties.name}}</h3>
    </button>
    <button ion-item (click)="toggleWrap(badPwdCount)" #badPwdCount>
      <ion-icon [name]="badPwdCount._elementRef.nativeElement.querySelector('h3') !== null && badPwdCount._elementRef.nativeElement.querySelector('h3').style.whiteSpace === 'normal' ? 'arrow-dropdown' : 'arrow-dropright'" item-left></ion-icon>
      <h2>badPwdCount</h2>
      <h3>{{user.properties.badPwdCount}}</h3>
    </button>
    <button ion-item (click)="toggleWrap(logonCount)" #logonCount>
      <ion-icon [name]="logonCount._elementRef.nativeElement.querySelector('h3') !== null && logonCount._elementRef.nativeElement.querySelector('h3').style.whiteSpace === 'normal' ? 'arrow-dropdown' : 'arrow-dropright'" item-left></ion-icon>
      <h2>logonCount</h2>
      <h3>{{user.properties.logonCount}}</h3>
    </button>
    <button ion-item (click)="toggleWrap(sAMAccountName)" #sAMAccountName>
      <ion-icon [name]="sAMAccountName._elementRef.nativeElement.querySelector('h3') !== null && sAMAccountName._elementRef.nativeElement.querySelector('h3').style.whiteSpace === 'normal' ? 'arrow-dropdown' : 'arrow-dropright'" item-left></ion-icon>
      <h2>sAMAccountName</h2>
      <h3>{{user.properties.sAMAccountName}}</h3>
    </button>
    <button ion-item (click)="toggleWrap(objectCategory)" #objectCategory>
      <ion-icon [name]="objectCategory._elementRef.nativeElement.querySelector('h3') !== null && objectCategory._elementRef.nativeElement.querySelector('h3').style.whiteSpace === 'normal' ? 'arrow-dropdown' : 'arrow-dropright'" item-left></ion-icon>
      <h2>objectCategory</h2>
      <h3>{{user.properties.objectCategory}}</h3>
    </button>
  </ion-list>
</ion-content>